@media (max-width: 768px) {
  .app-header { padding: 16px; align-items: center; }
  .product-title { font-size: 18px; text-align: right; }
  .app-bottom-bar { flex-direction: column; gap: 20px; padding: 16px; align-items: stretch; }
  .bottom-left { justify-content: space-between; order: 1; }
  .bottom-right { justify-content: space-between; order: 2; width: 100%; }
  .btn-buy { flex-grow: 1; margin-left: 12px; padding: 0; }
  .bottom-center { order: 3; padding-top: 6px; font-size: 9px; opacity: 0.7; }
  .gallery-wrapper { height: 50vh; }
  .yzy-modal-body-checkout { height: 95dvh; max-height: none; }
}
